<%- include('../partials/header') %>

<h1>Recipe Info</h1>
<section id="show-page">
    <div>Title: </div>
    <div><%= recipe.title %> </div>
    <div>Cook Time: </div>
    <div><%= recipe.cookTime %> </div>
    <div>Difficulty: </div>
    <div><%= recipe.difficulty %> </div>
    <div>Description: </div>
    <div><%= recipe.description %> </div>
    <div>Ingredients: </div>
    <div><%= recipe.ingredients %> </div>
    <div>Instructions: </div>
    <div><%= recipe.instructions %> </div>
    
</section>

<a href="/recipes/<%= recipe._id %>/edit">Edit This Recipe</a>
<div>
    <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
        <button id="delete-btn" type="submit">Delete Recipe</button>
    </form>
</div>