<%- include('../partials/header') %>

<h1>Recipe Info</h1>
<section id="show-page">
    <div>Title: </div>
    <div><%= recipe.title %> </div>
    <div>Cook Time: </div>
    <div><%= recipe.cookTime %> min</div>
    <div>Difficulty: </div>
    <div><%= recipe.difficulty %>/10 </div>
    <div>Description: </div>
    <div><%= recipe.description %> </div>
    <div>Ingredients: </div>
    <div>
        <ul>
            <% recipe.ingredients.forEach( ing => { %>
            <li><%= ing %></li>
            <% }) %>
        </ul>
    </div>

    <div>Instructions: </div>
    <div>
        <ol>
            <% recipe.instructions.forEach( inst => { %>
            <li><%= inst %></li>
            <% }) %>
        </ol>
    </div>

</section>

<a href="/recipes/<%= recipe._id %>/edit">Edit This Recipe</a>
<div>
    <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
        <button id="delete-btn" type="submit">Delete Recipe</button>
    </form>
</div>