<%- include('../partials/header') %>

<body id="show">


    <section class="show-page">

        <div class="title">
            <center><h3><%= recipe.title %></h3></center>
            <div class="time-difficulty">
                <div>
                    <h6 STYLE="font-weight: 800;">Cook Time:</h6>

                    <%= recipe.cookTime %> min
                </div>
                <div>
                    <h6 STYLE="font-weight: 800;">Difficulty:</h6>

                    <%= recipe.difficulty %>/10
                </div>
            </div>
        </div>
        <div>
            <h6 STYLE="font-weight: 800;">Description:</h6>
        </div>
        <div><%= recipe.description %> </div>
        <div>
            <h6 STYLE="font-weight: 800;">Ingredients: </h6>
        </div>
        <div>
            <ul>
                <% recipe.ingredients.forEach( ing => { %>
                <li STYLE="list-style-type: initial"><%= ing %></li>
                <% }) %>
            </ul>
        </div>

        <div>
            <h6 STYLE="font-weight: 800;">Instructions: </h6>
        </div>
        <div>
            <ol class="list">
                <% recipe.instructions.forEach( inst => { %>
                <li><%= inst %></li>

                <% }) %>
            </ol>
        </div>


        <% if(user) { %>
            <% if(recipe.user.includes(user._id)) { %>
            <div class="bottom-btns">
                <a class="edit-btn" href="/recipes/<%= recipe._id %>/edit">EDIT</a>
                <div class="delete-btn">
                    <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                        <button type="submit">DELETE</button>
                    </form>
                </div>
            </div>
            <% } %>
        <% } %>
    </section>
</body>